@font-face {
    font-family: "Vasek";
    src: url("../font/Vasek.ttf") format("truetype");
}

@font-face {
    font-family: "Alexander";
    src: url("../font/Alexander.otf") format("truetype");
}

:root {
    --main-bg-color: black; /* #F4F1EC */
    --main-font-color: #F4F1EC;
    --main-second-color: #B11226; /* #B11226*/
    --main-second-font-color: #F4F1EC;
}


html{
    width: 100%;
    -webkit-text-size-adjust: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

body{
    margin: -60px 0 0 0;
    background-color: var(--main-bg-color);
    color: var(--main-second-font-color);
}


p{
    font-family: Vasek, serif;
    font-size: 84px;
    margin: 10px 0;
}

h1{
    color: var(--main-font-color);
}

h2{
    font-size: 56px;
    color: var(--main-bg-color);
    font-family: Alexander, serif;
}

.title{
    color: var(--main-font-color);
}

.link{
    cursor: default;text-decoration: none; color: var(--main-font-color);
}

.squareLink{
    cursor: default;text-decoration: none; color: var(--main-second-font-color);
}

ul{
    list-style: none;
    font-family: 'Alexander', sans-serif;
}

li{
    font-size: 38px;
    margin-bottom: 15px;

}
li h2{
    color: var(--main-font-color);
    margin: 10px 0 0 0;
    font-size: 45px;
}

hr{
    border: 3px solid;
    border-radius: 3px;
    color:var(--main-second-color);
}

.line{
    position: absolute;
    font-size: 45px;
    background: #C9A227;
    width: 100%;
    top: 300px;
    display: flex;
    border-color: black;
    border-bottom: 1px solid;
    border-top: 1px solid;
    margin-left: 0;
}

.lineText{
    margin-top: 15px;
    margin-bottom: 15px;
    animation: marquee 5s infinite linear;
}

.lineText:after{
    margin: 0 20px 0 20px;
    content: "Приглашение ";
}

@keyframes marquee{
    0% {
        transform: translateX(0)
    }
    100% {
        transform: translateX(-50%)
    }
}

.mainBlock{
    text-align: center;
    max-width: 880px;
    width: 100%;
    margin: 75px auto auto auto;
    border: 4px solid;
    border-radius: 100px;
}

.mainText{
    font-size: 56px;
    font-family: Alexander, serif;
}

.mainVideo{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    /*border-radius: 425px 425px 0 0;*/
    /*height: 1024px;*/
}

.mainVideo img{
    width: 100%;

    /*position: relative;*/
    /*left: 0;*/
    /*transform: translateY(10%);*/
}

.event-details {
    max-width: 880px;
    margin: 75px auto auto auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
}

.square {
    color: var(--main-bg-color);
    background-color: var(--main-second-color);
    padding: 20px;
    text-align: center;
    font-family: 'Alexander', sans-serif;
}

.photo-square {
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo-square img {
    max-width: 100%;
    max-height: 100%;
}

.event-schedule{
    margin: 75px auto auto auto;
    text-align: center;

}

.dress-code{
    background: var(--main-second-color);
    color: var(--main-second-font-color);
    border: 4px solid;
    border-radius: 50px;
    text-align: center;
    max-width: 880px;
    width: 100%;
    margin: 75px auto auto auto;
}

.info-block{
    text-align: center;
    max-width: 880px;
    width: 100%;
    margin: 75px auto auto auto;
}


#survey-form {
    font-size: 44px;
    font-family: 'Alexander', sans-serif;
    max-width: 880px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--main-bg-color);
    border-radius: 5px;
}

label {
    font-family: Vasek ,serif;
    display: block;
    margin-bottom: 10px;
}

.mainLabel{
    font-family: Alexander ,serif;
    font-size: 60px;
    color: var(--main-font-color);
}

form{
    border: 2px solid var(--main-second-color);
    border-radius: 15px;
}

input[type="text"]{

    width: 100%;
    height: 100px;

    border-radius: 3px;
    border: 1px solid var(--main-second-color);
    margin-bottom: 10px;
    font-size: 38px;
    background: var(--main-bg-color);
    color: var(--main-font-color);
}

input[type="submit"] {
    background-color: var(--main-second-color);
    width: 100%;
    height: 100px;
    font-size: 56px;
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    color: var(--main-font-color);
}

input[type="submit"]:hover {
    background-color: var(--main-second-font-color);
    color: var(--main-second-color);

}

input[type="radio"] {
    /*-moz-appearance: checkbox;*/
    /*-webkit-appearance: checkbox;*/
    display: none;
}

input[type="checkbox"], input[type="radio"]{
    width: 40px;
    height: 40px;
    margin-right: 50px;
    color: black;
}

input[type="checkbox"] {
    display: none;
}
.question {
    margin-bottom: 25px;
    border-radius: 25px;
}
.question label {
    cursor: pointer;
    padding: 10px;
}

.quest {
    margin-bottom: 25px;
    border-radius: 25px;
}

.quest label {
    cursor: pointer;
    padding: 10px;
}

@media (max-width: 480px) {
    #survey-form {
        max-width: 100%;
        padding: 10px;
    }
}